@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

a.active{
    background-color: #f2f3ff;
}
a.active .line {
    display: block;
}

body{
    font-family: outfit;
}